#root {
  text-align: center;
}

/*  Home  */

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Register */

.registerForm form,
.loginForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.registerForm form label,
.loginForm form label {
  margin-bottom: 3px;
  margin-top: 3px;
  padding: 5px;
}

.registerForm form button,
.loginForm form button {
  margin-top: 10px;
}
